body{
	text-align: left;
	margin-left:300px;
	margin-right:300px;
	font-family: 'Roboto', sans-serif;
	background-color: #F0E68C;
}

div{ text-align: left; }

img{
	display: block;
	margin-right: auto;
	margin-bottom: 25px;
}

ul{
	text-align: left;
	list-style-position: inside;
	display: inline-block;
}

ol{
	text-align: left;
	list-style-position: inside;
	display: inline-block;
}

p{
	font-size: 22px;
	line-height: 30px;
}

.a{
	font-size: 20px;
	line-height: 26px;
	margin-top: 15px;
	margin-bottom:15px;
	margin-right: 15px;
}

.b{
	font-size: 20px;
	line-height: 26px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}

h1{
	font-size: 34px;
	line-height: 34px;
}

h2{
	font-size: 32px;
	line-height: 32px;
}

.c{
	background-color: #FF69B4;
	border-radius: 4px;
	line-height: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.d{
	background-color: #F08080;
	border-radius: 4px;
	line-height: 40px;
	margin-bottom: 20px;
	text-align: center;
}



